<h1>Order Details: </h1>

<h2>@Model["order"].Title</h2>
<h3>Vendor: @Model["vendor"].Name</h3>
<p>Description: @Model["order"].Description</p>
<h4>Price: $@Model["order"].Price</h4>
<p>Date: @Model["order"].Date</p>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors/@Model["vendor"].Id'>All orders for this Vendor</a>
<a href='/vendors'>View all vendors</a>